name: my sec workflow | shell script

on: 
   push:
    branches: main
jobs:
    first_job:
        runs-on: ubuntu-latest
        steps:
        
            - name: list files
              run:  ls -ltra

            - name: run shell script
              run: ./script10.sh


       

